name: Python CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: 1. Check out the latest code
      uses: actions/checkout@v4

    - name: 2. Set up the Python environment
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: 3. Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: 4. Execute pytest
      run: |
        pytest